body{
    background-color: black;
    color: rgb(20, 233, 222);
    text-align: center;
}

#results{
    display: flex;
    align-items: center;
    /* margin: auto;
    width: 10%; */
    position: absolute;
    left: 47.5%;
}

.resultDisplay{
    padding: 5px;
}
